# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: JavaCI-PR

on:
  push:
    branches: [ main ]
    paths:
      - 'gradle/libs.versions.toml'
      - 'gradle/verification-metadata.xml'
      - 'lowkey-vault-docker/src/docker/Dockerfile'
      - 'gradle/wrapper/gradle-wrapper.properties'
      - 'config/ossindex/exclusions.txt'
      - '.github/workflows/gradle-ci.yml'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
      - '**/README.md'
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'pull_request_template.md'
      - '.lift/.toml'
      - '**/.lift/.toml'
      - 'SECURITY.md'
      - 'LICENSE'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/assets/**'
      - '.github/workflows/**'
      - '!.github/workflows/gradle-ci.yml'
      - '.github/pr-labeler.yml'
      - 'renovate.json'
      - '.whitesource'
      - 'gradle/libs.versions.toml'
      - 'config/ossindex/exclusions.txt'

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Set up build environment
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
        with:
          fetch-depth: 0
      - name: Set up JDK 11
        uses: actions/setup-java@3f07048e3d294f56e9b90ac5ea2c6f74e9ad0f98 # v3.10.0
        with:
          distribution: temurin
          java-version: 11
      - name: Decode key
        run: |
          mkdir -p ${{ env.HOME }}/.gnupg/
          echo -e "${{ secrets.OSSRH_GPG_SECRET_KEY }}" | base64 --decode > ${{ env.HOME }}/.gnupg/secring.gpg
      - name: Build with Gradle
        uses: gradle/gradle-build-action@3fbe033aaae657f011f88f29be9e65ed26bd29ef # v2.3.3
        with:
          arguments: |
            printVersion build sign
            -Psigning.keyId=${{ secrets.SIGNING_KEY_ID }}
            -Psigning.password=${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}
            -Psigning.secretKeyRingFile=${{ env.HOME }}/.gnupg/secring.gpg
      - name: 'Clean-up GPG key'
        if: always()
        run: |
          rm -rf ${{ env.HOME }}/.gnupg/
      - name: 'Upload Test reports - App'
        if: always()
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: test-report-lowkey-vault-app
          path: lowkey-vault-app/build/reports/tests/test
          retention-days: 5
      - name: 'Upload Test reports - Docker'
        if: always()
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: test-report-lowkey-vault-docker
          path: lowkey-vault-docker/build/reports/cucumber
          retention-days: 5
      - name: 'Upload Test reports - Testcontainers'
        if: always()
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: test-report-lowkey-vault-testcontainers
          path: lowkey-vault-testcontainers/build/reports/tests/test
          retention-days: 5
      - name: Upload coverage to Codecov - App
        uses: codecov/codecov-action@d9f34f8cd5cb3b3eb79b3e4b5dae3a16df499a70 # tag=v3.1.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./lowkey-vault-app/build/reports/jacoco/report.xml
          flags: app
      - name: Upload coverage to Codecov - Client
        uses: codecov/codecov-action@d9f34f8cd5cb3b3eb79b3e4b5dae3a16df499a70 # tag=v3.1.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./lowkey-vault-client/build/reports/jacoco/report.xml
          flags: client
      - name: Upload coverage to Codecov - Testcontainers
        uses: codecov/codecov-action@d9f34f8cd5cb3b3eb79b3e4b5dae3a16df499a70 # tag=v3.1.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./lowkey-vault-testcontainers/build/reports/jacoco/report.xml
          flags: testcontainers
