name: JavaCI-PR

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    paths-ignore:
      - "README.md"
      - "**/README.md"
      - "CODE_OF_CONDUCT.md"
      - "CONTRIBUTING.md"
      - "pull_request_template.md"
      - ".lift/.toml"
      - "**/.lift/.toml"
      - "SECURITY.md"
      - "LICENSE"
      - ".github/**"
      - "!.github/workflows/gradle-ci.yml"
      - "renovate.json"
      - ".whitesource"
      - "gradle/libs.versions.toml"
      - "config/ossindex/exclusions.txt"
      - ".idea/**"
      - ".gitignore"
      - ".qlty/**"

permissions: read-all

jobs:
  build:
    name: Build
    runs-on: "ubuntu-latest"
    steps:
      # Set up the build environment
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
      - name: Set up JDK 25
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: temurin
          java-version: 25
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
      - name: Build with Gradle
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew printVersion build sonar
      - name: Upload Test reports - App
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: test-report-lowkey-vault-app
          path: |
            lowkey-vault-app/build/reports/tests/test
            lowkey-vault-app/build/reports/abort-mission/abort-mission-report.html
          retention-days: 5
      - name: Upload Test reports - Docker
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: test-report-lowkey-vault-docker
          path: |
            lowkey-vault-docker/build/reports/cucumber
            lowkey-vault-docker/build/reports/abort-mission/abort-mission-report.html
          retention-days: 5
      - name: Upload Test reports - Testcontainers
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: test-report-lowkey-vault-testcontainers
          path: lowkey-vault-testcontainers/build/reports/tests/test
          retention-days: 5
