name: PullRequestLabeler
on: pull_request

permissions: read-all

jobs:
  pr-labeler:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          token: ${{ secrets.PUBLISH_KEY }}
      - name: Get branch name
        id: get-branch-name
        env:
          HEAD_REF: ${{ github.head_ref }}
        run: |
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            echo "BRANCH_NAME=${HEAD_REF}" >> $GITHUB_OUTPUT
          else
            echo "BRANCH_NAME=${GITHUB_REF##*/}" >> $GITHUB_OUTPUT
          fi
        shell: bash
      - name: Convert to label
        id: convert-to-label
        run: |
          if [[ "${{ steps.get-branch-name.outputs.BRANCH_NAME }}" == feature/* ]]; then
            echo "LABEL_NAME=enhancement" >> $GITHUB_OUTPUT
          elif [[ "${{ steps.get-branch-name.outputs.BRANCH_NAME }}" == feat/* ]]; then
            echo "LABEL_NAME=enhancement" >> $GITHUB_OUTPUT
          elif [[ "${{ steps.get-branch-name.outputs.BRANCH_NAME }}" == bugfix/* ]]; then
            echo "LABEL_NAME=bug" >> $GITHUB_OUTPUT
          elif [[ "${{ steps.get-branch-name.outputs.BRANCH_NAME }}" == bug/* ]]; then
            echo "LABEL_NAME=bug" >> $GITHUB_OUTPUT
          elif [[ "${{ steps.get-branch-name.outputs.BRANCH_NAME }}" == renovate/* ]]; then
            echo "LABEL_NAME=dependency" >> $GITHUB_OUTPUT
          elif [[ "${{ steps.get-branch-name.outputs.BRANCH_NAME }}" == dep/* ]]; then
            echo "LABEL_NAME=dependency" >> $GITHUB_OUTPUT
          elif [[ "${{ steps.get-branch-name.outputs.BRANCH_NAME }}" == docs/* ]]; then
            echo "LABEL_NAME=documentation" >> $GITHUB_OUTPUT
          elif [[ "${{ steps.get-branch-name.outputs.BRANCH_NAME }}" == release/* ]]; then
            echo "LABEL_NAME=release" >> $GITHUB_OUTPUT
          elif [[ "${{ steps.get-branch-name.outputs.BRANCH_NAME }}" == chore/* ]]; then
            echo "LABEL_NAME=chore" >> $GITHUB_OUTPUT
          else
            echo "LABEL_NAME=none" >> $GITHUB_OUTPUT
          fi
        shell: bash
      - name: Add label
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        if: ${{ steps.convert-to-label.outputs.LABEL_NAME != 'none' }}
        with:
          github-token: ${{ secrets.PUBLISH_KEY }}
          script: |
            github.rest.issues.addLabels({
              issue_number: ${{ github.event.pull_request.number }},
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ["${{ steps.convert-to-label.outputs.LABEL_NAME }}"]
            });
