name: ReleaseTrigger
on:
  workflow_dispatch:
  schedule:
    # * is a special character in YAML, so we have to quote this string
    - cron: "0 4 10 * *"

permissions:
  contents: read

jobs:
  build:
    name: Release trigger action
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          token: ${{ secrets.PUBLISH_KEY }}
      - name: Update trigger
        run: |
          date +%s > .release-trigger
      - name: Create git branch
        run: |
          git config --global user.name 'Esta Nagy'
          git config --global user.email 'nagyesta@gmail.com'
          git checkout -b release/run-${{ github.run_number }}
          git add .release-trigger
          git commit -asm "Triggering a release {patch}"
          git push -f --set-upstream origin release/run-${{ github.run_number }}
      - name: Create PR
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ secrets.PUBLISH_KEY }}
          script: |
            github.rest.pulls.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              head: "release/run-${{ github.run_number }}",
              base: "main",
              title: "Triggering a release {patch}"
            });
