name: CreateRelease
on:
  push:
    tags:
      - v*

permissions:
  contents: read

jobs:
  build:
    name: Draft release action
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Create release
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          script: |
            github.rest.repos.createRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag_name: "${{ github.ref_name }}",
              generate_release_notes: true,
              draft: true
            });
