name: UpdateChecksums
on:
  push:
    branches: [ renovate/** ]
    paths:
      - 'gradle/libs.versions.toml'

permissions: read-all

jobs:
  build:
    name: Dependency checksum pin action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
        with:
          fetch-depth: 0
          token: ${{ secrets.PUBLISH_KEY }}
      - name: Set up JDK 17
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # v3.13.0
        with:
          distribution: temurin
          java-version: 17
      - name: "Remove previous version"
        run: cp gradle/verification-metadata-clean.xml gradle/verification-metadata.xml
      - name: "Update checksums"
        uses: gradle/gradle-build-action@b5126f31dbc19dd434c3269bf8c28c315e121da2 # v2.8.1
        with:
          cache-disabled: true
          arguments: --write-verification-metadata sha256
      - name: "Git commit"
        run: |
          git config --global user.name 'Esta Nagy'
          git config --global user.email 'nagyesta@gmail.com'
          git add gradle/verification-metadata.xml
          git commit -asm "Pinning dependency checksums {patch}"
          git push -f --set-upstream origin ${{ github.ref_name }}
